@import "variables";
@import "mixins";

.MatchedUrl {
    color: red !important;
}
nav {
        display: flex;
        background-color: yellow; 
        height: 40px;
        align-items: center;
        @include paddings;
        background-color: $light-grey;
        @media (max-width: #{$breakpoint-tablet}) {
            justify-content: center;
        }
        & a {
            text-decoration: none;
            font-family: $main-font;
            color: $medium-grey;
            padding-right: 30px;
            &:hover {
                color: $dark-blue;
            }
            &:focus {
                color: $dark-blue;
               
            }
            
            @include small {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 15px;
                }
            
        }
}

