
// color

$white: #fff;
$blue: #3993dd;
$main-blue: #3f51b5;
$dark-blue: #373E4C;
$light-blue: #99CCFF;
$light-grey: #D6D7D8;
$medium-grey: rgb(146, 146, 146);

// font

$main-font: "Roboto", "Helvetica", "Arial", sans-serif;

// @media

$breakpoint-tablet: 950px;