@import "variables";

.Footer_container {
  z-index: 1000;
  background-color: $dark-blue;
  text-align: left;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.Footer_info {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
  & a {
    font-family: $main-font;
    color: $light-grey;
    text-decoration: none;
    padding-right: 60px;
    &:hover {
      color: $light-blue;
    }
  }
}
