@import "./header";
@import "./card";
@import "./_breadcrumbs.scss";
@import "./faq-tables";

#help {
  background-color: #fcfcfc;

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
  }

  .faqs-container {
    .faq-featured-title-container {
      display: none;
    }

    &.faqs-featured {
      .faq-featured-title-container {
        margin: auto !important;
        display: flex;
        justify-content: center;
        margin-top: -2rem;
        .faq-featured-title {
          font-weight: bold;
          margin-bottom: 2rem;
          text-align: center;
        }
      }
    }
  }
}
